.container
- if processing.in_progress?
  .progress
  .progress-bar.bg-success.progress-bar-striped.active[
    role="progressbar" aria-valuenow="10" aria-valuemin="0"
    aria-valuemax="100" style="width:0%"]
  script src = "#{processing.ws_javascript}"
  javascript:
    var channel = "#{processing.ws_channel_id}";
    var client = new Faye.Client("#{processing.ws_route}");
    var bar = document.getElementsByClassName("progress-bar")[0];
    var reg = /\:(\d+)%/
    client.subscribe('/' + channel, function(message) {
      // Collect progressbar element and percentage
      var progress = bar.getAttribute("style")
      var currentProgress = reg.exec(progress)[1]
      
      if (isNaN(message)) {
        bar.setAttribute("style", "width:100%")
        bar.setAttribute("class", "progress-bar bg-danger progress-bar-striped")
        bar.innerHTML = message
      } else {
        if (parseInt(message) > parseInt(currentProgress)) {
          // Set the progress bar and percentage
          bar.setAttribute("aria-valuenow", message)
          bar.setAttribute("style", "width:"+message+"%")
          bar.innerHTML = message+"%"
          // Reload page at 100%
          if (message == "100") {
            setTimeout(function () {
              window.location = window.location.href
            }, 1000);
          }
        }
      }
    });
-  else
.container
  .row
    h2 id='target_name' class="h2-red"
      a.text-underline-hover href="/history/#{target.company_name}"
        = target.company_name

  .container


    table class="table table-hover" id="score_table"
        thead
          tr
            th Article
            th Score
        tbody
          - target.articles.each do |article, index|
            tr id='article_row' class="article_table_row" data-href=article.url
              td = article.title
              td class="td-score" = article.score